.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  padding: 5%;
}

.card {
  width: 280px;
  height: 510px;
  margin: 40px;
  background-color: pink;  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: solid 1px grey;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: auto;
  border: solid 1px grey;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff4e1;
}

.stats {
  line-height: normal;
}

.image-container img {
  width: 100%;
  height: auto;
}

.type-name {
  display: flex;
  align-items: center;
}

.type-image {
  padding-left: 7px;
  width: 24px;
  height: auto;
}